name: Docker Image CI

on:
  push:
    branches: []
  pull_request:
    branches: [ master, develop ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Prepare NuGet.Config
      uses: datamonsters/replace-action@v2
      with:
        files: 'NuGet.Config.actions'
        replacements: '%%username%%=xivk,%%token%%=${{ secrets.PACKAGES_SECRET }}'
    - run: mv NuGet.Config.actions NuGet.Config 
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.x
    - name: Publish project
      run: dotnet publish -c release
      working-directory: ./src/BikeDataProject.API/
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag geo-api:build
      working-directory: ./src/BikeDataProject.API/
